@model IEnumerable<ProyectoMLHOMP.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleanlinessRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunicationRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccuracyRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleanlinessRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunicationRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccuracyRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
